.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--orange);
  border-radius: 10px;
  padding: 10px;
  margin: 1em 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1.1em;
}

.menu > * {
  margin: 0 10px;
  font-weight: bold;
  color: var(--petrol);
}

.button-secondary {
  background-color: var(--petrol);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 0.875em;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.1s;
}

.button-secondary:hover {
  background-color: var(--green);
  color: black;
}

@media screen and (max-width: 600px) {
  .menu {
    padding: 6px;
    font-size: 1em;
  }
  .button-secondary {
    width: 25%;
    font-size: 0.8em;
  }
}
